
.h-container {
    height: auto;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    font-size: 1.5rem;
}

.h-container > input {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}

.h-container input[type="checkbox"]:checked {
  background-color: #4caf50; /* fundo verde */
  border-color: #4caf50;
}

.h-container input[type="checkbox"]:checked::after {
  content: "✔";
  color: #4caf50;
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  left: 2px;
}
